# Environment of the indexer.

CONSUL_ADDR=localhost:8500
PUBSUB_URL=amqp://admin:admin@localhost:5672?heartbeat=10
POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/webitel?application_name=webitel-kb-indexer&sslmode=disable&connect_timeout=10

# Log level: debug, info, warn, error (default: info)
#LOG_LEVEL=info
#LOG_JSON=true
#LOG_CONSOLE=true
#LOG_FILE=
#LOG_OTEL=false

